.scoresboard {
    display: flex;
    gap: 25px;
}

.box {
    border: 1px solid  rgb(136, 135, 135);
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
    background: #2a2a2a;
}

.box h2{
    font-size: 20px;
}